# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [5]:
cars = pd.read_csv("Data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [7]:
### your code is here
n = cars.Model.nunique()
print("No.of.unique values in Model column :",
      n)

No.of.unique values in Model column : 3608

group by the data by the Make  using count function

In [18]:
### your code us here

cars_col_num =  cars.groupby('Make').count()
cars_col_num

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

What brand has the most cars?

In [19]:
### your code us here
cars["Make"].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [21]:
### your code us here
cars.groupby(["Make", "CO2 Emission Grams/Mile"])["CO2 Emission Grams/Mile"].mean()

Make              CO2 Emission Grams/Mile
AM General        522.764706                 522.764706
                  555.437500                 555.437500
                  683.615385                 683.615385
ASC Incorporated  555.437500                 555.437500
Acura             228.000000                 228.000000
                                                ...
smart             246.000000                 246.000000
                  246.861111                 246.861111
                  251.000000                 251.000000
                  255.000000                 255.000000
                  258.000000                 258.000000
Name: CO2 Emission Grams/Mile, Length: 3582, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [22]:
### your code us here
cars.sort_values("CO2 Emission Grams/Mile", ascending=False)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,Chevrolet,Volt,2017,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,51.000000,800
7916,Chevrolet,Volt,2016,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,51.000000,800
3070,BMW,i3 REX,2015,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
3069,BMW,i3 REX,2014,0.6,2.0,Auto(A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
3071,BMW,i3 REX,2016,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,37.000000,1050

(Optional) Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [23]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [24]:
## your code here
cars.groupby("Year").mean()

,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Year,,,,,,,,
1984,3.927752,6.102326,21.185192,15.485271,19.075969,16.844961,570.355997,2125.891473
1985,3.170462,5.388362,18.090052,17.872233,23.045541,19.805187,487.234897,1840.101202
1986,3.184764,5.430976,18.201528,17.675926,22.717172,19.562290,490.418652,1859.343434
1987,3.138815,5.384808,18.373926,17.414858,22.601836,19.349750,495.114201,1881.886477
1988,3.201698,5.469169,18.311235,17.321716,22.686327,19.315460,493.516114,1885.701519
1989,3.200710,5.476486,18.495810,17.161491,22.499556,19.146406,498.483654,1919.299024
1990,3.218633,5.498127,18.544667,17.035581,22.337079,19.001873,499.810605,1922.846442
1991,3.271747,5.603387,18.726021,16.837790,22.240642,18.813725,504.652902,1964.884135
1992,3.279313,5.628726,18.640426,16.800361,22.439024,18.859079,502.446334,1967.841012
1993,3.243083,5.595172,18.306114,17.029712,22.823584,19.139276,493.817978,1932.869081
1994,3.342296,5.712513,18.350004,16.916236,22.756980,19.022751,494.942139,1939.762151
1995,3.462069,5.868534,18.627154,16.599138,22.656250,18.810345,502.428707,1971.605603
1996,3.236375,5.624511,17.764682,17.301173,23.584094,19.597132,479.376490,1874.902216
1997,3.233775,5.671523,17.884686,17.129801,23.433113,19.418543,482.636692,1900.993377
1998,3.226928,5.668774,17.801348,17.011378,23.437421,19.414665,481.809726,1886.093552
1999,3.221135,5.713768,17.793670,17.019324,23.356280,19.380435,482.368704,1894.867150
2000,3.216687,5.740024,17.811107,16.962515,23.193470,19.286578,482.798719,1926.844015
2001,3.214634,5.756098,17.832413,16.954545,23.121951,19.211752,484.449645,1938.802661
2002,3.270343,5.839750,18.042318,16.783559,22.960458,19.078044,488.887512,1961.030177
2003,3.369729,5.961315,18.272667,16.686654,22.756286,18.916828,494.414822,1998.307544
2004,3.393351,5.955076,17.974742,16.732255,23.046721,19.054807,488.501954,1985.759209
2005,3.403806,5.945502,17.939230,16.834775,23.275952,19.175606,486.555116,1989.446367
2006,3.553048,6.102821,18.180269,16.617834,23.039126,18.949955,490.371458,2002.729754
2007,3.628508,6.166075,18.093144,16.605684,23.083481,18.978686,488.015485,1997.291297
2008,3.639780,6.196791,17.963976,16.833615,23.399493,19.214527,484.523750,1996.832770
2009,3.624852,6.122570,17.514461,17.337278,24.027050,19.741336,472.388441,1911.707523
2010,3.501173,5.963899,16.851649,18.117329,24.979242,20.607401,454.523335,1851.398917
2011,3.532473,5.998221,16.712970,18.395018,25.239324,20.856762,451.248008,1840.524911
2012,3.482704,5.948200,16.308606,18.906936,26.023705,21.482880,440.319625,1808.384548
2013,3.367209,5.831336,15.748929,19.679795,27.075342,22.345890,424.288071,1751.883562
2014,3.329480,5.815029,15.501126,20.017341,27.542527,22.744839,417.881090,1738.150289
2015,3.250396,5.715190,15.184758,20.272152,27.989715,23.058544,408.878956,1701.621835
2016,3.132899,5.609935,14.870786,20.596091,28.271173,23.401466,400.367264,1668.973941
2017,3.153326,5.696616,15.074508,20.336056,27.651109,23.044341,406.340723,1701.050175

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [28]:
### your code is here
cars.groupby(["Make", "Model", "Year"])[["Fuel Barrels/Year", "CO2 Emission Grams/Mile"]].mean()

                                           Fuel Barrels/Year  \
Make             Model               Year
AM General       DJ Po Vehicle 2WD   1984          19.388824
                 FJ8c Post Office    1984          25.354615
                 Post Office DJ5 2WD 1985          20.600625
                 Post Office DJ8 2WD 1985          25.354615
ASC Incorporated GNX                 1987          20.600625
...                                                      ...
smart            fortwo coupe        2012           9.155833
                                     2013           9.155833
                                     2014           9.155833
                                     2015           9.155833
                                     2016           9.286631

                                           CO2 Emission Grams/Mile
Make             Model               Year
AM General       DJ Po Vehicle 2WD   1984               522.764706
                 FJ8c Post Office    1984               683.615385
                 Post Office DJ5 2WD 1985               555.437500
                 Post Office DJ8 2WD 1985               683.615385
ASC Incorporated GNX                 1987               555.437500
...                                                            ...
smart            fortwo coupe        2012               246.861111
                                     2013               244.000000
                                     2014               243.000000
                                     2015               244.000000
                                     2016               250.500000

[16664 rows x 2 columns]

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [29]:
## Your Code here
cars.groupby(["Make", "Transmission"])[["Fuel Barrels/Year"]].mean()

                                  Fuel Barrels/Year
Make             Transmission
AM General       Automatic 3-spd          22.674670
ASC Incorporated Automatic 4-spd          20.600625
Acura            Auto(AM-S7)              11.365862
                 Auto(AM-S8)              11.636478
                 Auto(AM-S9)              15.695714
...                                             ...
smart            Auto(AM5)                 9.155833
                 Auto(AM6)                 9.286631
                 Automatic (AM5)           9.155833
                 Automatic (S5)            9.155833
                 Manual 5-spd              9.555920

[580 rows x 1 columns]

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here